.Header{
    min-height: 50px;
    background-color: mediumaquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Header a{
    text-decoration: none;
    color: snow;
    font-size: 35px;
}

.Header a[class='active']{
    color: green;
}


