.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card h3{
    height: 30px;
    text-align: center;
}

.card p{
    height: 250px;
    text-align: justify;
    overflow: hidden
}
