.InfoCard{
        text-align: center;
}

.InfoCard button{
    width: 100px;
    background: mediumaquamarine;
    font-size: 20px;
    color: snow;
    top: 50%;
    right: 5px;
    border-radius: 30px;
    margin: 10px;
}

.Image{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.InfoCard p{
    margin: 5px;
    text-align: justify;
}